.container{
  width: 1450px;
 height:1100px ;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 flex-flow: wrap;
 background-image: url(wild.jpg);
 
 

}
.box1{
background-image:url(ch1.jpg);
background-size: contain;
width:350px ;
height: 250px;     
margin: 20px;
box-sizing: border-box;
font-size: 70px;
font-family: cursive;
position: relative;
left: 200px;
top: 90px;
background-repeat: no-repeat;
     }   



.box2{
 background-image: url(leo1.jpg);
 background-size: contain;
 width:350px ;
 height: 250px;     
 margin: 20px;
 box-sizing: border-box;
 font-size: 70px;
 font-family: cursive;
 position: relative;
 right: 150px;
 top: 90px;
 background-repeat: no-repeat;
     }

     .box3{
       background-image:url(tiger.jpg);
       background-size: contain;
       width:350px ;
       height: 250px;  
       margin:20px ;   
       font-size: 70px;
       font-family: cursive;
       position: relative;
       top:60px ;
       right:280px;
       
           }  

       .box4{
       background-image: url(jann.jpg);
       background-size: contain;
       width:350px ; 
       height: 250px;
       margin: 20px;
       box-sizing: border-box; 
       font-size: 70px;
       position: relative;
       bottom:309px;
       left: 681px ;

       
       
       
       } 
.b1{
width:354px ;
height: 30px;
position: relative;
right: 275px;
top: 325px;
}                       

.b2{
width:354px ;
height: 30px;
position: relative;
left: 815px;
bottom: 30px;
}       
.b3{
width:354px ;
height: 30px;
position: relative;
right: 771px;
top: 320px; }          

.b4{
width:354px ;
height: 30px;
position: relative;
right:45px;
bottom: 40px; }          